a {
  color: black;
}
.saw {
  color: rgb(240, 155, 169);
}
.active {
  color: blue;
}
h1 {
font-size: 55px;
text-align: right;
border-bottom: 2px solid rgb(240, 155, 169);
margin: 0px;
padding: 20px;
color: rgb(231, 71, 87);
}

ol {
width: 100px;
margin: 0px;
padding: 20px;
border-right: 2px solid rgb(240, 155, 169);
}

body {
margin: 0px;
}
div {
  border: 5px solid rgb(240, 155, 169);
}
#grid {
  border: 5px solid white;
  display: grid;
  grid-template-columns: 150px 1fr;
}
